<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head th:replace="base :: head"></head>
<body>
<nav th:replace="base :: navbar"></nav>


<div class="container">
    <div class="row">
        <div class="col">
            <div class="card width-70 float-right" th:each="bullhorn : ${messages}">
                <div class="card-header" th:text="${bullhorn.title}"></div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p th:text="${bullhorn.content}"></p>
                        <img width="25%" th:src="${bullhorn.image}"/>

                        <div>
                            <p>Post your comment below:</p>
                            <form action="" method="post">
                                <textarea id="txtcomment" rows="5" name="comment"></textarea><br>
                                <input type="submit" value="Post Comment"><br><input type="submit" value="Cancel Comment">
                            </form>
                        </div>
                        <footer>
                            <p class="blockquote-footer">
                                Posted By:
                                <span th:text="${#authentication.name}" ></span>
                                on
                                <span th:text="${bullhorn.postedDate}"></span>
                            </p>
                        </footer>
                    </blockquote>
                </div>
                <a sec:authorize="isAuthenticated()" class="side-by-side" th:href="@{/update/{id}(id=${bullhorn.id})}">Update</a>
                <a sec:authorize="isAuthenticated()" class="side-by-side" th:href="@{/detail/{id}(id=${bullhorn.id})}">Details</a>
                <a sec:authorize="isAuthenticated()" class="side-by-side" th:href="@{/delete/{id}(id=${bullhorn.id})}">Delete</a>

            </div>
        </div>

<!--<table>-->
<!--<div class="card width-70 float-right" th:each="bullhorn : ${messages}">-->
    <!--<tr><td> <div class="card-header" th:text="${bullhorn.title}"></div></td></tr>-->
    <!--<div class="card-body">-->
        <!--<blockquote class="blockquote mb-0">-->
            <!--<tr> <td><p th:text="${bullhorn.content}"></p></td></tr>-->
            <!--<img width="25%" th:src="${bullhorn.image}"/>-->
            <!--<footer>-->
                <!--<p class="blockquote-footer">-->
                  <!--<tr><td>  -->
                    <!--on-->
<!--&lt;!&ndash;                    th:unless="${bullhorn.postedBy == ''}"&ndash;&gt;-->
                      <!--<span th:text="${bullhorn.postedDate}"></span></td></tr>-->
                <!--</p>-->
            <!--</footer>-->
        <!--</blockquote>-->
<!--&gt;>>>>>> bb7d2ba5714db42d4f403e19c284c9868def2c0c-->
    <!--</div>-->
<!--</div>-->
<!--<<<<<<< HEAD-->


<!--&lt;!&ndash;<div>&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;    <hr/>&ndash;&gt;&ndash;&gt;-->

    <!--&lt;!&ndash;&lt;!&ndash;    <div th:if="*{bullhorn.getUser() == user }">&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;        <div sec:authorize="hasAuthority('ADMIN')">&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;    </div>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;    </div>&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--=======-->
    </div>
    </div>
</table>
<!--&gt;>>>>>> bb7d2ba5714db42d4f403e19c284c9868def2c0c-->
<div th:replace="base :: footer"></div>
<div th:replace="base :: javascript"></div>

</body>

</html>