
<!--<!doctype html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">-->
<!--<head>-->
    <!--&lt;!&ndash; Required meta tags &ndash;&gt;-->
    <!--<meta charset="utf-8">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->

    <!--&lt;!&ndash; Bootstrap CSS &ndash;&gt;-->
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"-->
          <!--integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
    <!--<link rel="stylesheet" href="css/mycss.css">-->
    <!--<title>Hello, world!</title>-->
    <!--&lt;!&ndash;<th:block th:insert="base :: header"></th:block>&ndash;&gt;-->
<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash;<a class="btn btn-primary" href="/add" role="button">Add a message</a>&ndash;&gt;-->
<!--<br>-->
<!--<br>-->
<!--<div class="container">-->
    <!--<div class="row">-->
        <!--<div class="col-md-6 offset-md-3 p-3 mb-2 bg-info text-white">-->

            <!--<form>-->
                <!--<br>-->
                <!--<br>-->
                <!--<h1>bullhorn</h1>-->
                <!--<table class="table table-borderless">-->



                    <!--<div th:replace="base :: nav"></div>-->

                    <!--&lt;!&ndash;<div class="container">&ndash;&gt;-->
                    <!--<thead></thead>-->
                    <!--<tbody>-->


                    <!--<tr th:each="bullhorn:${bullhorns}">-->
                    <!--<tr th:src=""{bullhorn.hot}!="null">-->

                        <!--&lt;!&ndash;<th scope="row"></th>&ndash;&gt;-->
                        <!--<div class="nav-item" sec:authorize="hasAuthority('USER')">-->
                            <!--<td><b>[[${bullhorn.title}]]</b><br/>-->
                                <!--<i>[[${bullhorn.postedBy}]]</i> | [[${bullhorn.postedDate}]]<br/>-->
                                <!--[[${bullhorn.content}]]<br/>-->
                            <!--</td>-->
                            <!--<td>-->
                <!--<span th:if="${user_id == bullhorn.user.id}">-->
                    <!--<a th:href="@{/update/{id} (id=${bullhorn.id})}" class="text-white">Update</a>-->
                    <!--<a th:href="@{/delete/{id} (id=${bullhorn.id})}" class="text-white">Delete</a>-->
                <!--</span>-->
                                <!--<a th:href="@{/view/{id} (id=${bullhorn.id})}" class="text-white">View</a>-->
                        <!--</div>-->
                        <!--<div class="nav-item" sec:authorize="hasAuthority('ADMIN')">-->
                            <!--<a th:href="@{/update/{id} (id=${bullhorn.id})}"-->
                               <!--class="text-white">Update</a>-->
                            <!--<a th:href="@{/view/{id} (id=${bullhorn.id})}" class="text-white">View</a>-->
                            <!--<a th:href="@{/delete/{id} (id=${bullhorn.id})}"-->
                               <!--class="text-white">Delete</a>-->
                        <!--</div>-->


                        <!--</td>-->

                    <!--</tr>-->

                    <!--</tbody>-->

                <!--</table>-->
            <!--</form>-->


        <!--</div>-->
    <!--</div>-->
<!--</div>-->


<!--&lt;!&ndash; jQuery first, then Popper.js, then Bootstrap JS &ndash;&gt;-->
<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->

<!--</body>-->
<!--</html>-->